# Dependencies
/node_modules

# Next.js build output
/.next
/out

# Logs
*.log

# Environment variables
.env
.env.local

# Secret Keys (Firebase, etc.)
*firebase-adminsdk*.json
*serviceAccountKey.json

.next





# Local Netlify folder
.netlify
