# Dependencies
/node_modules

# Next.js build output
/.next
/out

# Logs
*.log

# Environment variables
.env
.env.local

# Secret Keys (Firebase, etc.)
serviceAccountKey.json
*firebase-adminsdk*.json




